*~
*.o
.DS_Store
*.old
*.BAK
*.bin
*/*.old
*/*/*.old
*.pem
build/*
sdkconfig
envlog
envgraph
taspowerlog
taspowersvg
taspowerse
glowlog
icons/*.png
icons/*.gray
icons/*.h
managed_components
dependencies.lock
settings.h
settings.c
backups
